## LXC

# lxc-debconfig
lxc-debconfig lxc-debconfig/debconf-frontend select noninteractive
lxc-debconfig lxc-debconfig/debconf-priority select critical

lxc-debconfig lxc-debconfig/distribution string artax-backports
lxc-debconfig lxc-debconfig/architecture select 
lxc-debconfig lxc-debconfig/packages string bash-completion cron less logrotate postfix psmisc rsync rsyslog screen sudo user-setup vim git git-stuff iputils-ping

lxc-debconfig lxc-debconfig/mirror string http://eu.archive.progress-linux.org/progress/
lxc-debconfig lxc-debconfig/parent-mirror string http://ftp.ch.debian.org/debian/
lxc-debconfig lxc-debconfig/parent-mirror-security string http://ftp.ch.debian.org/debian-security/
lxc-debconfig lxc-debconfig/parent-mirror-backports string http://ftp.ch.debian.org/debian-backports/

lxc-debconfig lxc-debconfig/archives multiselect artax-security, artax-updates, artax-backports
lxc-debconfig lxc-debconfig/parent-archives multiselect squeeze-security, squeeze-updates
lxc-debconfig lxc-debconfig/archive-areas multiselect main, contrib, non-free
lxc-debconfig lxc-debconfig/parent-archive-areas multiselect main, contrib, non-free

lxc-debconfig lxc-debconfig/local0/comment string Third-Party Software
lxc-debconfig lxc-debconfig/local0/list string 3rd-party
lxc-debconfig lxc-debconfig/local0/repository string http://archive.progress-technologies.net/progress/ artax main contrib non-free restricted
lxc-debconfig lxc-debconfig/local0/key string http://archive.progress-technologies.net/progress/project/keys/archive-key-1.0-artax-automatic.asc
lxc-debconfig lxc-debconfig/local0/source boolean false

lxc-debconfig lxc-debconfig/auto boolean true
lxc-debconfig lxc-debconfig/capabilities string mac_admin mac_override sys_admin sys_module
#lxc-debconfig lxc-debconfig/mount0/comment string 
#lxc-debconfig lxc-debconfig/mount0/entry string 
lxc-debconfig lxc-debconfig/late-command string 
lxc-debconfig lxc-debconfig/late-host-command string 

lxc-debconfig lxc-debconfig/eth0/mac string 00:FF:10:00:02:00
lxc-debconfig lxc-debconfig/eth0/bridge string br0
lxc-debconfig lxc-debconfig/eth0/veth string veth-private200

lxc-debconfig lxc-debconfig/eth1/mac string 00:FF:12:00:02:00
lxc-debconfig lxc-debconfig/eth1/bridge string br1
lxc-debconfig lxc-debconfig/eth1/veth string veth-public200

# live-debconfig
live-debconfig live-debconfig/hostname/hostname string progress
live-debconfig live-debconfig/ifupdown/eth0-comment string private
live-debconfig live-debconfig/ifupdown/eth0-method select static
live-debconfig live-debconfig/ifupdown/eth0-address string 10.0.2.200
live-debconfig live-debconfig/ifupdown/eth0-broadcast string 10.0.2.255
live-debconfig live-debconfig/ifupdown/eth0-gateway string 10.0.2.1
live-debconfig live-debconfig/ifupdown/eth0-netmask string 255.255.255.0
live-debconfig live-debconfig/ifupdown/eth0-network string 10.0.2.0
live-debconfig live-debconfig/ifupdown/eth1-comment string public
live-debconfig live-debconfig/ifupdown/eth1-method select static
live-debconfig live-debconfig/ifupdown/eth1-address string 123.45.678.200
live-debconfig live-debconfig/ifupdown/eth1-broadcast string 123.45.678.255
live-debconfig live-debconfig/ifupdown/eth1-gateway string 
live-debconfig live-debconfig/ifupdown/eth1-netmask string 255.255.255.0
live-debconfig live-debconfig/ifupdown/eth1-network string 123.45.678.128
live-debconfig live-debconfig/ifupdown/nameservers string 8.8.8.8 8.8.4.4
live-debconfig live-debconfig/selinux/enable boolean false
live-debconfig live-debconfig/sysvinit/lxc-enable boolean true
live-debconfig live-debconfig/sysvinit/lxc-consoles string 1

## System

# debconf
debconf debconf/frontend select dialog
debconf debconf/priority select low

# git-stuff
git-stuff git-stuff/bash-profile boolean true

# postfix
postfix postfix/main_mailer_type select Internet Site
postfix postfix/mailname string progress

# tzdata
tzdata tzdata/Areas select Europe
tzdata tzdata/Zones/Etc select UTC
tzdata tzdata/Zones/Europe select Zurich

# user-setup
user-setup passwd/make-user boolean true
user-setup passwd/user-fullname string System Administration
user-setup passwd/username string sysadmin
user-setup passwd/user-password password progress
user-setup passwd/user-password-again password progress
user-setup passwd/user-uid string 1000
user-setup passwd/user-default-groups string audio cdrom dip floppy video plugdev netdev powerdev scanner bluetooth sudo
# baureo
#user-setup passwd/user-default-groups string audio cdrom dip floppy video plugdev netdev powerdev scanner bluetooth debian-tor sudo
user-setup passwd/root-login boolean true
user-setup passwd/root-password-crypted string *
user-setup passwd/shadow boolean true
