#!/bin/sh

set -e

if [ -e "/usr/share/lxc/lxc.functions" ]
then
	. /usr/share/lxc/lxc.functions || true
fi

globalconf="${globalconf:-/etc/lxc/lxc.conf}"
lxc_path="${lxc_path:-/srv/lxc/containers}"

. /usr/share/debconf/confmodule

db_set lxc/containers "${lxc_path}"

db_settitle lxc/title
db_input low lxc/containers || true
db_go

db_stop
