#!/bin/sh

set -e

. /usr/share/debconf/confmodule

for _CONFFILE in /etc/default/lxc /etc/default/lxc.d/*
do
	if [ -e "${_CONFFILE}" ]
	then
		. ${_CONFFILE} || true

		db_set lxc/auto "${LXC_AUTO}"

		db_set lxc/directory "${LXC_DIRECTORY}"
	fi
done

db_settitle lxc/title
db_input low lxc/auto "${LXC_AUTO}" || true
db_go

db_settitle lxc/title
db_input high lxc/directory "${LXC_DIRECTORY}" || true
db_go

db_stop
