#!/usr/bin/make -f

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

%:
	dh ${@} --with autoreconf,autotools_dev

override_dh_auto_configure:
	dh_auto_configure -- --disable-rpath --enable-apparmor --enable-doc --enable-configpath-log --enable-lua --enable-python --enable-seccomp --enable-selinux --enable-tests --with-distro=debian

override_dh_auto_install:
	dh_auto_install

	# tests
	mkdir -p debian/lxc-dev/usr/bin
	mv debian/tmp/usr/bin/lxc-test-* debian/lxc-dev/usr/bin

override_dh_builddeb:
	dh_builddeb -- -Zxz

override_dh_compress:
	dh_compress -X.cfg

override_dh_install:
	dh_install --fail-missing

override_dh_installinit:
	dh_installinit -plxc-stuff --onlyscripts --no-restart-on-upgrade --no-start --name lxc
	dh_installinit -plxc-stuff --onlyscripts --no-restart-on-upgrade --no-start --name irkerhook-lxc

override_dh_strip:
	dh_strip --dbg-package=lxc-dbg
